<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Scraping Walmart Product</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">

                <h1>{{ text }}</h1>

                <div>
                    <ul style="list-style: none;">
                    
                        <!-- {% for product in walmart_product %} -->
                        <li style="color:brown">{{ walmart_product.Name }}</li>
                        <!-- {% endfor %} -->

                    </ul>
                </div>

            </div>
        </div>
    </body>

</html>