<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Scraping Walmart Product</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">

                <h1>{{ text }}</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click Here to Scrape Walmart for Room Air Purifiers!</a></p>

            </div>
            <div class="row">
                {% for product in walmart_product %}
                <div class="col-lg-4">
                    <div class="card" style="width:20rem;">
                        <img class="card-img-top" src="{{ product.Image }}" alt="{{ product.Name }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ product.Name }}</h4>
                            <h6 class="card_subtitle md-2 text-muted"> Cost: {{ product.Price }}</h6>
                            <p class="card-text">{{ product.Num_Stars_Reviews }}</p>
                            <a href="{{ product.Link }}" target="_blank" class="btn btn-primary">Checkout This Product</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>

<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->